<html>
<head>
    <link rel='stylesheet' href='assets/css/foundation.css'> 
    <link rel='stylesheet' href='assets/css/application.css'>    
    <link rel='stylesheet' href='assets/css/mobile.css'>
    <link rel="icon" type="image/png" href="/favicon.png">

    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="assets/js/jquery-1.10.2.min.js"> </script>
    <script src="text/javascript", src="socket.io/socket.io.js"> </script>
</head>
<body>
    
</body>
</html>